my_*.*
my_terraform

# Terraform specific local files
.terraform*
terraform.tfstate*
*.log
secret.auto.tfvars
terraform.tfvars
sample_my.tfvars
docs/rag_sources
*.pptx

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.env
*.code-workspace
.DS_Store